#grid {
  max-width: 500px;
}

.cell {
  width: 9.5%;
  height: 0;
  padding-bottom: 9.5%;
  margin: 0.5% 0.5% 0 0;
  float: left;


  background: #c3e9ae;
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;

}

.cell.p1 { background: #beeeef; }

.cell.p2 { background: #baaaaf; }
